*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
app/release
app/debug
/captures
.externalNativeBuild
app/build
ddmlib/build
device-control/build
mta-common/build
mta-sdk/build
phone-info/build
print-control2/build
serial-port/build
bga-qrcode-core/build
bga-qrcode-zxing/build/
print-control2/src/androidTest/
